@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap");

$title-font: "Playfair Display", sans-serif;
$title-size: 30px;

$text-color: #070d3c;
$text-font: "Work Sans", sans-serif;
$text-size: 14px;

$navbar-color: #060c3e;
$navbar-border-color: #e2e4ec;
$navbar-link-size: 16px;
$navbar-link-weight: 400;

$cta-color: #ed1a2e;
$cta-size: 12px;
$cta-weight: 500;

$pattern-substitute-top: #1c2a59;
$pattern-substitute-bottom: #d8e2e4;
